<div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item" routerLink="./">
          Biography
        </a>
        <a class="item" routerLink="partners">
          Partners
        </a>
        <a class="item" routerLink="companies">
          Companies
        </a>
        
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
